<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="top-bar">
        <div>
            <h1>Please select available cities</h1>
        </div>
        <div class="right-bar">
            <div>
            <h2>Welcome, {{user.first_name}} {{user.last_name}}
            </div>
            <div>
            <a href='/create_gas'>Report a gas price</a>
            </div>
            <div>
            <a href="/logout">Logout</a> </h2>
            </div>
        </div>
    </div>
    <div class="table">
        
        <div>
          
            <label for=""> </label>
           
            <ol>
            {%for i in list%}
            <li>    
            <a href="/dashboard/{{i.city}}/{{i.state}}">{{i.city}} {{i.state}}</a>
            </li>
            {%endfor%}
            
            </ol>
        </div>
    </div>
    
</div>

</body>
</html>